/*=============== FONT ===============*/

/*=============== RESET ===============*/
*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
}


html{
    scroll-behavior: smooth;
    height: 100%;
  }

body{
    /* background: #f1efe9; */
    font-family: "Catamaran", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}


/*=============== MOBILE FIRST ===============*/
/*=============== SETTING THE GRID AREA ===============*/
.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    text-align: center;
}



.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
        "header"  60px
        "navbar"  auto
        "main"    auto
        "sidebar" auto
        "footer"  60px;

}

.header{
    grid-area: header;
    background-color: #000000;
    color: #EBF400;
}

.navbar{
    grid-area: navbar;
    background-color: #F72798;
}

.main{
    grid-area: main;
    background-color: #F57D1F;
}

.sidebar{
    grid-area: sidebar;
    background-color: #EBF400;
}

.footer{
    grid-area: footer;
    background-color: #000000;
    color: #EBF400;
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*=============== END SETTING THE GRID AREA ===============*/

/*=============== MEDIAS QUERIES ===============*/
@media (min-width: 600px) {
    .grid-container{
    grid-template: 
            "header header"   100px
            "navbar  navbar"  50px
            "sidebar main"    auto
            "footer  footer"  100px / 
            200px    auto;
    }      
}

@media (min-width: 900px) {
    .grid-container{
        overflow: auto;


        grid-template:
        "header header header" 80px
        "navbar main sidebar" auto
        "footer footer footer" 80px/
         200px auto 200px;
        }
}

/* || MOBILE DEVICE LANDSCAPE  */
/* @media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {} */

